<hello name="{{ name }}"></hello>
<p>
	All your notes :D
</p>

<div>

	<button (click)="tambah()" style="margin:10px; padding:8px; background-color:#3398FF; border:none; color:white; border-radius:50px;">+</button>

	<!-- <button (click)="godet()" style="margin:10px; padding:8px; background-color:orange; border:none; color:white; border-radius:50px;">Detail Note</button> -->

	<button (click)="gofav()" style="margin:10px; padding:8px; background-color:pink; border:none; color:white; border-radius:50px;">Favourite</button>

	<router-outlet></router-outlet>

	<ng-template *ngIf="btnklik; then templatenambah"></ng-template>
	<ng-template #templatenambah>
		<h4 style="margin-bottom:0;">Judul</h4>
		<input type="text" [(ngModel)]="txtjudul" placeholder="Resolusi 2021">

		<button (click)="save()" style="margin:10px; padding:8px; background-color:#3398FF; border:none; color:white; border-radius:50px;">Save</button>

		<button (click)="cancel()" style="margin:10px; padding:8px; background-color:red; border:none; color:white; border-radius:50px;">Cancel</button>

		<h4 style="margin-bottom:0;">Isi</h4>
		<textarea [(ngModel)]="txtisi" placeholder="bisa masak kue"></textarea>

		<h4 style="margin-bottom:0;">Date</h4>
		<input type="date" [(ngModel)]="txtdate">
	</ng-template>

		<div *ngFor="let a of notes; let i = index" (click)="godet(a)" style="background-color:#00CCCC; margin-top:5px;">
			<!-- note {{i+1}} br {{a+1}} -->
			note {{i+1}}. <br>
			<p>Judul : {{a[0]}}
				<button (click)="makefav(a)" style="margin:5px; padding:5px; background-color:#ce897b; border:none; color:white; border-radius:50px;">*</button>
			</p>

			<p>Tanggal Created : {{a[2]}}</p>
			{{a[1]}}

			<br>
			<!-- <div *ngFor="let b of a;">
    {{b[0]}} + {{b[1]}} + {{b[2]}}
    {{b}}
  </div> -->
		</div>


</div>