<hello name="{{ name }}"></hello>
<p>
	:D
</p>

<div>

	<button (click)="tambah()" style="margin:10px; padding:8px; background-color:#3398FF; border:none; color:white; border-radius:50px;">+</button>

	<button (click)="gonotes()" style="margin:10px; padding:8px; background-color:orange; border:none; color:white; border-radius:50px;">My Notes</button>

	<button (click)="gofav()" style="margin:10px; padding:8px; background-color:pink; border:none; color:white; border-radius:50px;">Favourite</button>

	<router-outlet></router-outlet>

</div>