<p>
make your notes!
</p>

<div>
		<h4 style="margin-bottom:0;">Judul</h4>
		<input type="text" [(ngModel)]="txtjudul" placeholder="Resolusi 2021">

		<button (click)="save()" style="margin:10px; padding:8px; background-color:#3398FF; border:none; color:white; border-radius:50px;">Save</button>

		<button (click)="cancel()" style="margin:10px; padding:8px; background-color:red; border:none; color:white; border-radius:50px;">Cancel</button>

    <h4 style="margin-bottom:0;">Date</h4>
		<input type="date" [(ngModel)]="txtdate">

		<h4 style="margin-bottom:0">Isi</h4>
		<textarea [(ngModel)]="txtisi" placeholder="bisa masak kue" style="height:100px; width:100%"></textarea>
</div>